/* About Page */

.about-content {
  padding: 2rem;
  background-image: url('https://images.pexels.com/photos/346696/pexels-photo-346696.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 83vh
}
.content-shadow {
  box-shadow: 5px 5px 6px 2px rgba(0,0,0,0.28);
  background-color: rgb(255, 255, 255);
}