@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* Full Page */
.app {
	display: grid;
	grid-template-rows: auto 1fr auto;
	font-family: 'Playfair Display', serif;
}

/* remove */
#expend {
	display: none;
}

#expend + .smalldesc {
	max-height: 0px;
	overflow: hidden;
	transition: all 0.5s ease;
}

#expend:checked + .smalldesc {
	max-height: 1000px;
}

label {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

label:hover {
	text-decoration: none;
}

.footer-color img {
	max-width: 5vw;
}
